body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul,
li,
a,
section,
form,
table,
td,
tr,
tbody,
select,
label,
figure {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.6;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.6;
}

h3 {
  font-size: 31px;
  font-weight: 400;
  line-height: 1.6;
}

h4 {
  font-size: 26px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

ul > li,
li {
  list-style: none;
}

label {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.8);
  display: block;
}

/* navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: black;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 25px;
}
.navbar-nav .nav-item.active a {
  color: #fff;
}

.navbar-nav .nav-item a:hover {
  color: #fff;
}

.navbar-list {
  max-width: 50%;
  flex: 0 0 50%;
}

.navbar-nav .nav-item a {
  text-decoration: none;
  color: gray;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 25px;
}

/*-----------SEARCH-----------*/
/* .search-bar {
  width: 50%;
  margin: auto;
  background: black;
}
.search-bar input,
button {
  width: 75%;
  border: 2px solid rgb(0, 0, 0);
  border-right: 0px;
  padding: 12px;
} */
/* .search-bar button {
  width: 25%;
  float: right;
  border-left: 0px;
} */

.search-bar {
  display: flex;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px 19px;
  border: 1px solid #ddd;
  min-height: 40px;
  color: #000;
  width: 100%;
}

small {
  color: red;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border: 1px solid rgb(5, 133, 255);
}
#submit {
  margin-top: 10px;
}
.error input,
.error textarea {
  border: 1px solid red;
}
.success input,
.success textarea {
  border: 1px solid green;
}

.searchbutton {
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  padding: 0 10px;
  color: #ffffff;
  display: inline-block;
  box-shadow: inset 0 0 0 50px #14c412;
  transition: all 0.5s;
  border: 0px;
  cursor: pointer;
}

p {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-bottom: 10px;
}
.container {
  max-width: 1140px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 55px;
}

.container-cart {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  display: none;
  text-align: right;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.col2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col2 h1 {
  font-size: 50px;
  margin: 20px 0;
  line-height: 60px;
  color: #eca43f;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.button {
  display: inline-block;
  background: #0585ff;
  color: white;
  padding: 8px 35px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  border: unset;
}
.button:hover {
  color: #fff;
}

.header {
  /* background: radial-gradient(rgb(6, 42, 83), rgb(1, 8, 17)); */
  background: url(/images/background1.jpg);
}
.header2 {
  background: radial-gradient(rgb(6, 42, 83), rgb(1, 8, 17));
}

.home-banner {
  padding: 80px 0;
}

h4 {
  color: white;
  margin-bottom: 10px;
}

.categories {
  margin: 70px 0;
}

.title {
  text-align: center;
  position: relative;
  line-height: 60px;
  padding: 30px 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
}

.title-profile {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.profile-picture {
  border-radius: 160px;
}

.col3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col3 img {
  width: 100%;
}

.small-container {
  max-width: 1090px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.rating {
  color: #eca43f;
  margin: 10px 0;
}
.small-container h2 {
  text-align: center;
  font-size: 35px;
}

.col4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 20px;
  transition: transform 0.5s;
}

.col4 img {
  width: 100%;
}

.col4:hover {
  transform: translateY(-5px);
}

.col4 p {
  color: white;
  font-size: 14px;
}
/*-------------Footer----------*/
footer {
  text-align: center;
  background: radial-gradient(rgb(6, 42, 83), rgb(1, 8, 17));
  color: white;
  padding: 40px 0;
}

.content-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 0;
  overflow: hidden;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Barlow Semi Condensed", sans-serif;
}
.contact-info a:hover {
  transform: scale(1.1);
}

/*------- Cart Details -------*/
.cart-page {
  margin: 0 auto;
  padding: 170px 0 100px;
}

.page-height {
  min-height: calc(100vh - 122px);
}

.cart-page h1 {
  text-align: center;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.cart-conent-wrapper {
  display: flex;
  flex-wrap: wrap;
}
h3 {
  text-align: center;
}

.cart-info small {
  display: block;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.cart-submit {
  max-width: 40%;
  flex: 0 0 40%;
  padding-right: 20px;
  position: relative;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}
.cart-info p {
  color: black;
}
th {
  text-align: left;
  padding: 5px;
  color: white;
  background: #eca43f;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: orange;
}
td i {
  font-size: 40px;
  color: #0585ff;
}

td img {
  margin-right: 10px;
  width: 90px;
  height: 100px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #eca43f;
  width: 100%;
  max-width: 380px;
}
.total-price td {
  padding: 0;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
.cart-page p {
  color: black;
  text-align: center;
  margin-top: 10px;
  font-size: large;
}

/*------- Account Page --------*/
.account-page {
  padding: 50px 0;
  background: radial-gradient(rgb(6, 42, 83), rgb(1, 8, 17));
}

.form-container {
  background: #fff;
  width: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 400px;
  padding: 20px;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
#LoginForm {
  left: -300px;
}
.form-control {
  margin-bottom: 10px;
}

.submit-button {
  text-align: right;
}

#Indicator {
  width: 100px;
  border: none;
  background: #0585ff;
  height: 3px;
  margin-top: 8px;
  transform: translateX(55px);
}
.checkout-row img {
  width: 100px;
}
.checkout-cart{
  text-align: center;
}


.right-part p{
  text-align: left;
}
.purchased-producrs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.products-purchased{
  padding-right: 10px;
  padding-left: 10x;
  margin-bottom: 15px;
}
.pro{
  border: 1px solid #ddd;
  padding: 10px;
}

/*------------------Contact Page--------------*/
.contact-1 {
  padding-right: 20px;
  color: white;
}
.contact-wrapper {
  display: flex;
}

.message-input {
  padding-bottom: 100px;
}
.submission {
  position: absolute;
  left: 25%;
  top: -80px;
  width: 250px;
  background-color: #99dbaa;
  height: 40px;
  margin: 0 auto;
  color: #003b0f;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 5px;
  border-left: 3px solid green;
  font-weight: 600;
  transition: top 0.5s ease-in-out;
}

.show-success-message {
  opacity: 1;
}

/*--------------------- Media Q ---------------------*/

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 0px;
    left: 0;
    background: black;
    width: 100%;
  }

  nav ul li {
    display: block;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  nav ul li a {
    color: fff;
  }
  .cart-info {
    margin-top: 80px;
  }
  .cart-page {
    margin-top: 130px;
  }
  .title-profile {
    margin-top: 85px;
  }

  .container {
    padding-top: 120px;
  }
  .cart-submit {
    margin-left: 100px;
    margin-right: 100px;
  }
  .container-img img {
    width: 500px;
  }
  .checkout-row img {
    margin-left: 260px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col2,
  .col3,
  .col4 {
    flex-basis: 100%;
  }

  .cart-info {
    margin-top: 80px;
  }
  .cart-page {
    margin-top: 100px;
  }
  .col4 img {
    width: 150px;
  }
  .col2 h1 {
    padding-top: 10px;
  }
  .title-profile {
    margin-top: 85px;
  }
  .container-img img {
    width: 430px;
  }
  .cart-page {
    padding-top: 27px;
  }
  .checkout-row img {
    margin-left: 60px;
    margin-top: 15px;
  }
  .contact-map {
    width: 430px;
  }
  .button {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*profile page */
.profile-page {
  padding: 150px 0 80px;
}

/*account page*/
.account-page {
  padding: 150px 0 100px;
}

.content-section {
  max-width: 60%;
  flex: 0 0 60%;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-quantity {
  justify-content: space-between;
}
.cart-quantity i {
  cursor: pointer;
}

.cart-quantity i.fa-minus-circle {
  color: red;
}
.cart-quantity i.fa-plus {
  color: #14c412;
}

.cart-row {
  display: flex;
}
.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  width: 45%;
}

.cart-icon {
  position: relative;
}

.card-count {
  position: absolute;
  top: -7px;
  right: -15px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
}
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-row:last-child .cart-column {
  border: none;
}

.total-price p {
  text-align: right;
}
