* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background: black;
  position: relative;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: gray;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 25px;
}
p {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 55px;
}

.container-cart {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.col2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col2 h1 {
  font-size: 50px;
  margin: 20px 0;
  line-height: 60px;
  color: #eca43f;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.button {
  display: inline-block;
  background: #0585ff;
  color: white;
  padding: 8px 35px;
  margin: 30px 0;
  border-radius: 30px;
  text-decoration: none;
}
.button2 {
  display: inline-block;
  background: #0585ff;
  color: white;
  padding: 8px 35px;
  border-radius: 30px;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-decoration: none;
}

.header {
  background: radial-gradient(rgb(6, 42, 83), rgb(1, 8, 17));
  background: url(/images/background1.jpg);
}
.header2 {
  background: radial-gradient(rgb(6, 42, 83), rgb(1, 8, 17));
}

h4 {
  color: white;
}

.categories {
  margin: 70px 0;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
}
.title-profile {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.profile-picture {
  border-radius: 160px;
}

.col3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col3 img {
  width: 100%;
}

.small-container {
  max-width: 1090px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.rating {
  color: #eca43f;
  margin-top: 5px;
}
.small-container h2 {
  text-align: center;
  font-size: 35px;
}

.col4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col4 img {
  width: 100%;
}

.col4:hover {
  transform: translateY(-5px);
}

.col4 p {
  color: white;
  font-size: 14px;
}
/*-------------Footer----------*/
footer {
  text-align: center;
  background: radial-gradient(rgb(6, 42, 83), rgb(1, 8, 17));
  color: white;
}

.content-wrap {
  max-width: 900px;
  margin: 0 auto;

  overflow: hidden;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
/*------- Cart Details -------*/
.cart-page {
  margin: 80px auto;
}
.cart-page h1 {
  text-align: center;
  font-family: "Barlow Semi Condensed", sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}
.cart-info p {
  color: black;
}
th {
  text-align: left;
  padding: 5px;
  color: white;
  background: #eca43f;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: orange;
}
td i {
  font-size: 40px;
  color: #0585ff;
}

td img {
  margin-right: 10px;
  width: 90px;
  height: 100px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #eca43f;
  width: 100%;
  max-width: 380px;
}
td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

/*------- Account Page --------*/
.account-page {
  padding: 50px 0;
  background: radial-gradient(rgb(6, 42, 83), rgb(1, 8, 17));
}
.form-container {
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid black;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
#LoginForm {
  left: -300px;
}
#RegForm {
  left: 0;
}
form a {
  font-size: 10px;
}
#Indicator {
  width: 100px;
  border: none;
  background: #555;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
}
/*------- media query for meny -------*/

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 0px;
    left: 0;
    background: black;
    width: 100%;
  }

  nav ul li {
    display: block;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  nav ul li a {
    color: fff;
  }
  .cart-info {
    margin-top: 80px;
  }
  .cart-page {
    margin-top: 100px;
  }
  .title-profile {
    margin-top: 85px;
  }
}

/*media query for less than 600 screen size*/
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col2,
  .col3,
  .col4 {
    flex-basis: 100%;
  }
  .cart-info p {
  }
  .cart-info {
    margin-top: 80px;
  }
  .cart-page {
    margin-top: 100px;
  }
  .col4 img {
    width: 150px;
  }
  .col2 h1 {
    padding-top: 10px;
  }
  .title-profile {
    margin-top: 85px;
  }
}
